/* Gallery */

/* Album */
.album_list > .album_cover {
  width: 10%;
  display: table-cell;
}

.album_list hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  height: 0;
}

/* Photo */
.photo_list > .thumbnail {
  display: table-cell;
  width: 1%;
  padding: 8pt;
  border: none;
  max-width: 250px;
}

.thumbnail img {
  width: 100%;
  max-width: 300px;
}
