{% extends "gallery/base.html" %}
{% load thumbnail %}

{% block title %}фотоальбом "{{ object.name }}" - {{ block.super }} {% endblock %}
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="http://yandex.st/jquery/fancybox/2.0.6/jquery.fancybox.css" type="text/css" media="screen" />

<script type="text/javascript" src="http://yandex.st/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="http://yandex.st/jquery/fancybox/2.0.6/jquery.fancybox.min.js"></script>
<script type="text/javascript">
$(function() {
  $(".fancybox-thumb").fancybox({
    helpers : {
      title : { type : 'inside' },
    }
  });
});
</script>
{% endblock %}

{% block content %}
<h2>{{ object.name }}</h2>
<div class="photo_list">
{% for p in object.photo_set.all %}
    <section class="thumbnail">
        <a class="fancybox-thumb"
          name="{{ p.get_anchor }}"
          rel="gallery"
          href="{%  thumbnail p.img 960x960 %}"
          title="{{ p.descriptio }}">
            <img
              src="{% thumbnail p.img 300x300 crop='smart' %}"
              alt="{{ p.alt }}">
        </a>
        <h4>{{ p.alt }}</h4>
    </section>
    {% if forloop.counter|divisibleby:"3" %}<hr />{% endif %}
{% endfor %}
</div>
<!-- pagination? -->
{% endblock %}
