{% extends "gallery/base.html" %}
{% block title %}фотоальбом "{{ caption }}" - {{ block.super }} {% endblock %}
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="http://yandex.st/jquery/fancybox/2.0.6/jquery.fancybox.css" type="text/css" media="screen" />

<script type="text/javascript" src="http://yandex.st/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="http://yandex.st/jquery/fancybox/2.0.6/jquery.fancybox.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".fancybox-thumb").fancybox({
    helpers : {
      title : { type : 'inside' },
    }
  });
});
</script>
{% endblock %}
{% block content %}
<h3>{{ caption }}</h3>
<div class="photo_list">
{% for i in photos %}
{% include "gallery/thumbnail.html" %}
{% if forloop.counter|divisibleby:"3" %}
<hr />{% endif %}
{% endfor %}
</div>
<!-- pagination? -->
{% endblock %}
