{% load gallery_extras %}{% block content %}<!-- begin gallery/thumbnail.html -->
<a class="fancybox-thumb" rel="gallery" href="/media/{{ i.img }}" title="{{ i.description }}">
  <img src="{% thumb_square i.img %}" class="img-thumbnail" alt="{{ i.alt }}"/>
</a>
<div class="photo-description"> {{ i.alt }} </div>
<div class="photo-tags">
  <span class="glyphicon glyphicon-tag"></span>
  <a href="/gallery/group/{{ i.group.id }}">{{ i.group }}</a>
</div>
<!-- end gallery/thumbnail.html -->{% endblock %}
